{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Your earnings from today's experiment
{% endblock %}

{% block content %}
        <table class="table table-sm w-100">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">Period</th>
                    <th class="text-center w-75">Your chosen option</th>
                    <th class="text-center">Ball drawn</th>
                    <th class="text-center">Earnings</th>
                </tr>
            </thead>
            <tbody>
             {% for choice in participant.vars.choices.values %}
                 {% if forloop.counter == player.paid_period %}
                 <tr>
                    <th scope="row" class="text-center align-middle">{{ forloop.counter }}</th>
                     <td class="w-75">
                         <img class="img-fluid" alt="lottery" src="{% static choice.item.imagepath %}"/>
                     </td>
                    <td class="align-middle text-center" style="font-size: 2rem;">
                        <span style="border-radius: 50%; padding: 5px; background: #eee; border: 2px solid #000">
                            {{ choice.roll }}
                        </span>
                    </td>
                    <td class="align-middle text-center" style="font-size: 2rem;">{{ choice.payoff }}</td>
                 </tr>
                 {% endif %}
            {% endfor %}
            <tr>
                <td colspan="2" class="text-right" style="font-size: 2rem;">Your earnings from Part 2</td>
                <td></td>
                <td class="align-middle text-center" style="font-size: 2rem;">{{ participant.vars.part2 }}</td>
            </tr>
            <tr>
                <td colspan="2" class="text-right" style="font-size: 2rem;">Your total earnings for today's experiment</td>
                <td></td>
                <td class="align-middle text-center" style="font-size: 2rem;"><b>{{ participant.payoff }}<b></td>
            </tr>
            </tbody>
        </table>

    <hr/>
       <div class="row p-1 justify-content-center text-info" style="font-size: 1.4rem;">
            <i>Thank you for participating!</i>
       </div>
       <div class="row p-1 justify-content-center text-info" style="font-size: 1.4rem;">
            We look forward to seeing you at another
               LEDR experiment in future.
       </div>

{% include "global/Footer.html" %}
{% endblock %}