{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Your earnings from today's experiment
{% endblock %}

{% block content %}
        <table class="table table-sm w-100">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">Period</th>
                    <th class="text-center w-75">Your chosen option</th>
                    <th class="text-center">Ball</th>
                    <th class="text-center">Earnings</th>
                </tr>
            </thead>
            <tbody>
             {% for choice in participant.vars.choices.values %}
                 {% if forloop.counter == player.paid_period %}
                 <tr>
                    <th scope="row" class="text-center align-middle">{{ forloop.counter }}</th>
                     <td class="w-75">
                         <img class="img-fluid" alt="lottery" src="{% static choice.item.imagepath %}"/>
                     </td>
                    <td class="align-middle text-center">{{ choice.roll }}</td>
                    <td class="align-middle text-center">{{ choice.payoff }}</td>
                 </tr>
                 {% endif %}
            {% endfor %}
            </tbody>
        </table>

       <div class="row p-3 justify-content-center">
            <b>Adding the above to your earnings from Part 2,
                your total earnings for today's experiment are {{ participant.payoff }}</b>.
       </div>
       <div class="row p-3 justify-content-center">
            <i>Thank you for participating!</i>
       </div>

{% include "global/Footer.html" %}
{% endblock %}