{% extends "global/Page.html" %}
{% load otree %}

{% block content %}
    <div class="container">
        <div class="p-2 row justify-content-center text-white rounded"
             style="background-color: #deb8ff;">
            <h3 class="center">Choice {{ player.round_number }} of {{ Constants.num_rounds }}</h3>
        </div>

        <div class="row justify-content-center text-muted font-weight-light font-italic">
            Click on the lottery which you prefer.
        </div>

        <table class="table table-sm" style="{width: 50%;}">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">Lottery</th>

                    {% if session.config.show_expected %}
                    <th class="text-center">Average Value</th>
                    {% endif %}

                    {% if session.config.show_risk %}
                    <th class="text-center">Riskiness</th>
                    {% endif %}

            </tr>
            </thead>

        <tbody>
        {% for item in group.get_menu %}
        <tr>
            <td><button name="lotterychoice" value="{{ forloop.counter0 }}"
                    class="btn btn-primary btn-lg"
                    style="background-color: #ffebb0;">
                <img class="img-fluid" alt="lottery" src="{% static item.imagepath %}"/> </button>
            </td>

            {% if session.config.show_expected %}
            <td style="vertical-align: middle; text-align: center;">{{ item.expected }}</td>
            {% endif %}

            {% if session.config.show_risk %}
            <td style="vertical-align: middle; text-align: center;">{{ item.risk }}</td>
            {% endif %}

        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    {{ form.lotterychoice.errors }}

{% include "global/Footer.html" %}
{% endblock %}