{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Part 1: A typical decision round
{% endblock %}

{% block content %}

    <p>
    In each decision round, you will have a choice between two options.
    Here is an example of how a typical decision round will look:
    </p>

    <div class="container p-2 mb-2 border">
        {% include "global/DecisionTableau.html" %}
    </div>

    {% if session.config.show_expected and session.config.show_risk %}
    <p>
    To the right of each horizontal bar are two columns.
    </p>
        The first column is labelled <b>Average returns</b>.
        You can think of this as the amount you would earn
        if we were to do a large number of random draws,
        and compute the average earnings per draw.
        Remember however that your earnings from the option
        you choose will be determined by a single draw only.
    </p>
    <p>
        The second column is labelled <b>Risk</b>.
        This shows the standard deviation, which is a measure
        of how spread out the earnings are.  The earnings from
        an option with a higher standard deviation are more variable
        than the earnings from an option with a lower standard deviation.
    </p>
        <p>
            If you wish to refer to these definitions while making your decisions,
            the <b>Average returns</b> and <b>Risk</b> labels have popups which
            display when your mouse pointer is over them.  Try it out now to see how this
            works.
        </p>
    {% elif session.config.show_expected %}
    <p>
    To the right of the horizontal bar showing the amounts you would earn
        for each possible draw is a column labelled Average Returns.
        You can think of this as the amount you would earn if we were
        to do a large number of random draws, and compute the average earnings per draw.
        Remember however that your earnings from the option you choose
        will be determined by a single draw only.
    </p>
        <p>
            If you wish to refer to this definition while making your decisions,
            the <b>Average returns</b> label has a popup which
            displays when your mouse pointer is over it.  Try it out now to see how this
            works.
        </p>
    {% elif session.config.show_risk %}
    <p>
    To the right of the horizontal bar showing the amounts you would
        earn for each possible draw is a column labelled Risk.
        This shows the standard deviation, which is a measure
        of how spread out the earnings are.  The earnings from an
        option with a higher standard deviation are more variable
        than the earnings from an option with a lower standard deviation.
        This shows the standard deviation, which is a measure of how
        spread out the earnings are.  The earnings from an option with
        a higher standard deviation are more variable than the earnings
        from an option with a lower standard deviation.
    </p>
        <p>
            If you wish to refer to this definition while making your decisions,
            the <b>Risk/b> label has a popup which
            displays when your mouse pointer is over it.  Try it out now to see how this
            works.
        </p>
    {% endif %}

    <p>
        To select the option you prefer, click on the picture of the corresponding
        horizontal bar.  When you do, that option will be highlighted on your
        screen.  If you change your mind, you can click the other option instead;
        that option will then be highlighted.  You can revise your choice as often
        as you would like.  When you are satisfied with your choice, you will click the
        button labeled <b>Confirm decision</b>, which will record your decision and
        move you to the next decision round.
    </p>

    <p>
        Use the display above to practice selecting options by clicking on them.
        When you are ready to move to the next instruction screen, click on the
        <b>Confirm decision</b> button.
    </p>

{% include "global/Footer.html" %}
{% endblock %}