{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Part 1: A typical decision round
{% endblock %}

{% block content %}

    <p>
    Here is an example of how a typical decision round will look,
    showing the two available options:
    </p>

    <div class="container p-2 mb-2 border">
        {% include "global/DecisionTableau.html" %}
    </div>

    {% if session.config.show_expected and session.config.show_risk %}
    <p>
    To the right of each option are two numbers.
    </p>
    <p>
        The first number is labelled <b>Average returns</b>.
        You can think of this as the amount you would earn
        if we were to do a large number of random draws,
        and compute the average earnings per draw.
        Remember however that your earnings from the option
        will be determined by a single draw only.
    </p>
    <p>
        The second number is labelled <b>Variability score</b>.
        This is the standard deviation, which is a measure
        of how spread out the earnings are.  The earnings from an
        option with a higher standard deviation are more variable
        than the earnings from an option with a lower standard deviation.
    </p>
        <p>
            You can review these definitions during the experiment by clicking on
            or hovering over the <b>Average returns</b> and <b>Variability score</b> labels.
        </p>
    {% elif session.config.show_expected %}
    <p>
    To the right of each option is a number labelled <b>Average returns</b>.
        You can think of this as the amount you would earn if we were
        to do a large number of random draws, and compute the average earnings per draw.
        Remember however that your earnings from the option
        will be determined by a single draw only.
    </p>
        <p>
            You can review this definition during the experiment by clicking on
            or hovering over the <b>Average returns</b> label.
        </p>
    {% elif session.config.show_risk %}
    <p>
    To the right of each option is a number labelled <b>Variability score</b>.
        This is the standard deviation, which is a measure
        of how spread out the earnings are.  The earnings from an
        option with a higher standard deviation are more variable
        than the earnings from an option with a lower standard deviation.
    </p>
        <p>
            You can review this definition during the experiment by clicking on
            or hovering over the <b>Variability score</b> label.
        </p>
    {% endif %}

{% include "global/ButtonIfDemo.html" %}
{% include "global/Footer.html" %}
{% endblock %}