{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Part 1: Determining your earnings
{% endblock %}

{% block content %}

    <p>
    At the end of the experiment, one of the 25 decision rounds will be chosen at
        random to determine your earnings for the experiment.
        Each round is equally likely to be chosen.
    </p>
    <p>
        Because you will not know in advance which round will be chosen,
        you should treat each round as if it is the one which will determine your earnings.
    </p>

    <div class="row justify-content-center">
    {% next_button %}
    </div>

{% include "global/Footer.html" %}
{% endblock %}