{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Instructions
{% endblock %}

{% block content %}

    <h4>
    Summary
    </h4>

    <p>
    Please select one option out of the available two in each of the 25 rounds.
        You will be told which round is payment dependant at the end of the
        experiment hence how much you have earned from your chosen option.
    </p>

    <div class="row justify-content-center">
    {% next_button %}
    </div>

{% include "global/Footer.html" %}
{% endblock %}