{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Instructions 2 of 2
{% endblock %}

{% block content %}

    <p>
    Determining your earnings for the experiment
    </p>

    <p>
    Describe process for drawing the round then drawing the number here, and remind how this determines their payoff for the experiment as a whole.
    </p>

    <p>
    At the end of the experiment, one round will be chosen at random of the 25 rounds to determine your earnings for the experiment.  Each round is equally likely to be chosen.  Your earnings from the experiment will be determined by the result of the decision round chosen, plus a £3 participation payment.
    </p>

    <p>
    Because you will not know in advance which round will be chosen, you should treat each round as if it is the one which will determine your earnings.
    </p>

    <p>
    A number from one to 100 will also be randomly drawn to determine the outcome of your chosen option, each number from 1 to 100 is equally likely to be drawn.
    </p>

    {% next_button %}

{% include "global/Footer.html" %}
{% endblock %}