{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Instructions 1
{% endblock %}

{% block content %}

    <p>
    INSERT STANDARD BOILERPLATE INTRODUCTION TEXT HERE.
    </p>

    <p>
    Decision rounds
    </p>

    <p>
    Today’s experiment consists of 25 decision rounds. Each round is separate and your choices in one round do not affect the results of any other round.
    </p>

    <p>
    Your options
    </p>

    <p>
    In each round, you will make a choice of one out of two options.   A typical option will look like the sample one below:
        *insert picture of bars here*
    </p>

    <p>
    If you were to choose this option in a round, the amount you would earn would depend on the outcome of a random draw of a number between 1 and 100, inclusive.  Each number is equally likely to be chosen.
    </p>

    <p>
    The horizontal bar tells you how your earnings depend on this draw. You would earn £20 from this option if the number drawn is between 61 and 100; you would earn £10 from this option if the number drawn is between 36 and 60; and you would earn £0 from this option if the number drawn is between 1 and 35.
    </p>

    {% next_button %}

{% include "global/Footer.html" %}
{% endblock %}
