{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Instructions
{% endblock %}

{% block content %}

    <p>
    INSERT STANDARD BOILERPLATE INTRODUCTION TEXT HERE.
    </p>

    <h4>
    Decision rounds
    </h4>

    <p>
        Today's experiment consists of 25 <strong>decision rounds</strong>.
        Each round is separate, and your choices in one round do not
        affect the results of any other round.
    </p>

    <h4>
    Your options
    </h4>

    <p>
        In each round, you will make a choice of one out of two <strong>options</strong>.
        A typical option will look like the sample one below:
    <img class="img-fluid" src="{% static "decisions/lottery_p26.jpg" %}"/>
    </p>

    <p>
    If you were to choose this option in a round, the amount you would
        earn would depend on the outcome of a random draw of a number
        between 1 and 100, inclusive.
        Each number is equally likely to be chosen.
    </p>

    <p>
    The horizontal bar tells you how your earnings depend on this draw.
        You would earn £20 from this option if the number drawn is
        between 61 and 100; you would earn £10 from this option
        if the number drawn is between 36 and 60; and you
        would earn £0 from this option if the number drawn is between 1 and 35.
    </p>

    <div class="row justify-content-center">
    {% next_button %}
    </div>

{% include "global/Footer.html" %}
{% endblock %}
