{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Part 1: Introduction
{% endblock %}

{% block content %}
    <h4>
    Decision rounds
    </h4>

    <p>
        Today's experiment consists of 25 <strong>decision rounds</strong>.
        Each round is separate, and your choices in one round do not
        affect the results of any other round.
    </p>

    <h4>
    Your options
    </h4>

    <p>
        In each round, you will choose one out of two <strong>options</strong>.
    </p>
    <p>
        Your earnings in a round depend on the option you choose,
        and a random draw.
        You can think of this as a draw from a virtual bag
        containing balls numbered 1 to 100, where each ball is equally likely to be drawn.
    </p>
    <p>
        Each option is represented by a bar, which
        shows how the earnings from that option depend on the draw.
        Here is a typical option:
    <img class="img-fluid" alt="choice" src="{% static "instructions/lottery_p26.jpg" %}"/>
    </p>

    <p>
        The top of the bar gives the number of balls which correspond to
        each potential earnings amount.
       The bottom shows the ranges of corresponding ball numbers.
    </p>
    <p>For this option,</p>
    <ul>
        <li>35 balls (numbered 1 to 35) would result in earnings of <b>£0</b>;</li>
        <li>25 balls (numbered 36 to 60) would result in earnings of <b>£10</b>;</li>
        <li>40 balls (numbered 61 to 100) would result in earnings of <b>£20</b>.</li>
    </ul>

{% include "global/ButtonIfDemo.html" %}
{% include "global/Footer.html" %}
{% endblock %}
