{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Part 1: Introduction
{% endblock %}

{% block content %}
    <h4>
    Decision rounds
    </h4>

    <p>
        Today's experiment consists of 25 <strong>decision rounds</strong>.
        Each round is separate, and your choices in one round do not
        affect the results of any other round.
    </p>

    <h4>
    Your options
    </h4>

    <p>
        In each round, you will make a choice of one out of two <strong>options</strong>.
        The amount you will earn from choosing an option will depend on the outcome
        of a random draw.
    </p>
    <p>
        There is a virtual bag containing one hundred (100) balls, numbered 1
        through 100 inclusive.
        The random draw consists of picking one ball at random from this bag.
        Each ball is equally likely to be chosen.
    </p>
    <p>
        The way in which your earnings depend on the draw of the ball will
        differ for each option.  Here is a sample option:
    <img class="img-fluid" alt="choice" src="{% static "instructions/lottery_p26.jpg" %}"/>
    </p>


    <p>
    This horizontal bar tells you how your earnings from the option
        will depend on which ball is drawn.
        Across the
    bottom of the bar are numbers which label the ranges of ball numbers which correspond to
    each potential earnings amount:
    </p>
        <ul>
            <li>If the ball drawn has a number between 61 and 100, you would earn <b>£20</b>;</li>
            <li>If the ball drawn has a number between 36 and 60, you would earn <b>£10</b>;</li>
            <li>If the ball drawn has a number between 1 and 35, you would earn <b>£0</b>.</li>
        </ul>


    <div class="row justify-content-center">
    {% next_button %}
    </div>

{% include "global/Footer.html" %}
{% endblock %}
