{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Part 1: Summary
{% endblock %}

{% block content %}

    <ul>
    <li>You will now see 25 decision rounds, one after the other.</li>
    <li>In each round, there will be two options.  Select one of the options by
        clicking on it, and then the <b>Confirm decision</b> button.</li>
    <li>At the end of the experiment, one of the rounds will be selected at random
    to determine your earnings for Part 1.</li>
    <li>Your earnings from that selected round will be determined by the option you chose,
    and a draw of a ball from a virtual bag with balls numbered 1 through 100.</li>
    </ul>

    <p>
    Part 1 will now begin shortly.
    </p>

{% include "global/ButtonIfDemo.html" %}

{% include "global/Footer.html" %}
{% endblock %}