{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
    <p>
    Welcome to today’s experiment and thanks for coming.
        This is an experiment in the economics of decision-making.
        If you follow the instructions, complete the experiment and make appropriate decisions,
        you can earn an appreciable amount of money.
        This will be paid to you in private, in cash, at the end of the session,
        before you leave the laboratory.
    </p>
    <p>
    It is important that you remain silent and do not look at other people's work.
        If you have any questions, or need assistance of any kind, please raise your
        hand and an experimenter will come to you.
        If you talk, laugh, exclaim out loud, etc., you will be asked to leave
        and you will not be paid.
        We expect and appreciate your cooperation.
    </p>
    <p>
        All decisions in today's experiment and any information you choose to give is
        recorded anonymously, and will only be used in the analysis of the data from this experiment.
    </p>
    <p>
        There will be two parts to today's experiment.
        We will describe Part 1 now; once Part 1 has been completed we will
        go on to describe Part 2.
        Your total earnings from today's experiment will be the sum of your
        earnings from the two parts.
    </p>

{% include "global/ButtonIfDemo.html" %}

{% include "global/Footer.html" %}
{% endblock %}
