{% extends "global/Page.html" %}
{% load otree %}

{% block content %}
    <div class="container">
        <div class="p-2 row justify-content-center bg-secondary text-white rounded">
            <h3 class="center">Choice {{ player.round_number }} of {{ num_rounds }}</h3>
        </div>
    </div>


    <div class="container">
      <div class="row align-items-center border rounded">
        <div class="col-sm-2">
            <button name="lotterychoice" value="Lottery A"
                    class="btn btn-primary btn-large"
                    style="background-color: goldenrod;">
            Choose Lottery A
            </button>
        </div>
        <div class="col-sm-10">
            <img src="{% static group.lottery_image_A %}" width="100%"/>
        </div>
      </div>

      <div class="row align-items-center border rounded">
        <div class="col-sm-2">
            <button name="lotterychoice" value="Lottery B"
                    class="btn btn-primary btn-large"
                    style="background-color: #7020da;">
            Choose Lottery B
            </button>
        </div>
        <div class="col-sm-10">
            <img src="{% static group.lottery_image_B %}" width="100%"/>
        </div>
      </div>
    </div>
    {{ form.lotterychoice.errors }}

{% endblock %}