{% extends "global/Page.html" %}
{% load otree %}

{% block content %}
    <div class="container">
        <div class="p-2 row justify-content-center text-white rounded"
             style="background-color: #deb8ff;">
            <h3 class="center">Choice {{ player.round_number }} of {{ num_rounds }}</h3>
        </div>

        <div class="row justify-content-center text-muted font-weight-light font-italic">
            Click on the lottery which you prefer.
        </div>
        <div class="row align-items-center border rounded">
            <button name="lotterychoice" value="A"
                    class="btn btn-primary btn-lg"
                    style="background-color: #ffebb0;">
            <img class="img-fluid" src="{% static group.lottery_image_A %}"/>
        </div>

        <div class="row align-items-center border rounded">
            <button name="lotterychoice" value="B"
                    class="btn btn-primary btn-lg"
                    style="background-color: #ffebb0;">
            <img class="img-fluid" src="{% static group.lottery_image_B %}"/>
        </div>
    </div>
    {{ form.lotterychoice.errors }}

{% include "global/Footer.html" %}
{% endblock %}