{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Choice {{ player.round_number }}
{% endblock %}

{% block content %}
    <p>
        <button name="lotterychoice" value="Lottery A"
                class="btn btn-primary btn-large"
                style="background-color: goldenrod;">
        Lottery A
        </button>
        <img src="{% static group.lottery_image_A %}" width="50%"/>
    </p>

    <p>
        <button name="lotterychoice" value="Lottery B"
                class="btn btn-primary btn-large"
                style="background-color: #7020da;">
        Lottery B
        </button>
        <img src="{% static group.lottery_image_B %}" width="50%"/>
    </p>

    {{ form.lotterychoice.errors }}

{% endblock %}