{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Survey
{% endblock %}

{% block content %}
    <div class="container">
        <div class="p-2 row justify-content-center text-white rounded"
             style="background-color: #deb8ff;">
            <h3 class="center">Summary of your decisions</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">

    <table class="table table-sm" style="{width: 50%;}">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">Question</th>
                    <th class="text-center">Your Answer</th>
                    <th class="text-center">Correct Answer</th>
                    <th class="text-center">Earnings</th>
                </tr>
            </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <td class="align-middle text-center">{{ question.text }}</td>
                        <td class="align-middle text-center">{{ question.answer }}</td>
                        <td class="align-middle text-center">{{ question.correct }}</td>
                        <td class="align-middle text-center">{{ question.earnings }}</td>
                    </tr>
                {% endfor %}
                </tbody>
    </table>
            </div></div>
        <div class="container border bg-light p-2 mt-2 mb-2">
            <div class="row justify-content-center">
                Your earnings for this round are {{ participant.payoff }}
            </div>
        </div>

    <div class="row justify-content-center">
    {% next_button %}
    </div>

{% endblock %}


