{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Survey
{% endblock %}

{% block content %}
    <div class="container">
        <div class="p-2 row justify-content-center text-white rounded"
             style="background-color: #deb8ff;">
            <h3 class="center">Summary of your decisions</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">

    <table class="table table-sm" style="{width: 50%;}">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">Question</th>
                    <th class="text-center">Your Answer</th>
                    <th class="text-center">Correct Answer</th>
                    <th class="text-center">Earnings</th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <td class="align-middle text-center">In a sale, a shop is selling
                                all items at half price. Before the sale, a sofa costs $300.
                                How much will it cost in the sale?</td>
                        <td class="align-middle text-center">{{ player.answer1 }}</td>
                        <td class="align-middle text-center">{{ '150'}}</td>
                        <td class="align-middle text-center">{{ '' }}</td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">If the chance of getting a
                            disease is 10 per cent, how many people out of 1,000 would
                            be expected to get the disease?</td>
                        <td class="align-middle text-center">{{ player.answer2 }}</td>
                        <td class="align-middle text-center">{{ '100'}}</td>
                        <td class="align-middle text-center">{{ '' }}</td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">A second hand car dealer
                            is selling a car for $6,000. This is two-thirds of what
                            it cost new. How much did the car cost new</td>
                        <td class="align-middle text-center">{{ player.answer3 }}</td>
                        <td class="align-middle text-center">{{ '9000'}}</td>
                        <td class="align-middle text-center">{{ '' }}</td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">If 5 people all have the
                            winning numbers in the lottery and the prize is $2 million,
                            how much will each of them get</td>
                        <td class="align-middle text-center">{{ player.answer4 }}</td>
                        <td class="align-middle text-center">{{ '400000'}}</td>
                        <td class="align-middle text-center">{{ '' }}</td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">Let’s say you have
                            $200 in a savings account. The account earns
                            ten per cent interest per year. How much will you
                            have in the account at the end of two years?</td>
                        <td class="align-middle text-center">{{ player.answer5 }}</td>
                        <td class="align-middle text-center">{{ '242'}}</td>
                        <td class="align-middle text-center">{{ '' }}</td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">Imagine that the
                            interest rate on your savings account was
                            1% per year and inflation was 2% per year.
                            After 1 year, how much would you be
                            able to buy with the money in this account?</td>
                        <td class="align-middle text-center">{{ player.answer6 }}</td>
                        <td class="align-middle text-center">{{ '3'}}</td>
                        <td class="align-middle text-center">{{ '' }}</td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">Suppose that
                            in the year 2020, your income has doubled and
                            prices of all goods have doubled too. In 2020,
                            how much will you be able to buy with your income?</td>
                        <td class="align-middle text-center">{{ player.answer7 }}</td>
                        <td class="align-middle text-center">{{ '2'}}</td>
                        <td class="align-middle text-center">{{ '' }}</td>
                    </tr>
                </tbody>
    </table>
            </div></div>
        <div class="container border bg-light p-2 mt-2 mb-2">
            <div class="row justify-content-center">
                Your earnings for this round are {{ participant.payoff }}
            </div>
        </div>

    <div class="row justify-content-center">
    {% next_button %}
    </div>

{% endblock %}


