{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Results of Part 2
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
            <div class="col-12">

    <table class="table table-sm" style="{width: 50%;}">
            <thead class="thead-light">
                <tr>
                    <th class="text-center w-50">Question</th>
                    <th class="text-center">Your Answer</th>
                    <th class="text-center">Correct Answer</th>
                    <th class="text-center">Earnings</th>
                </tr>
            </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <td class="align-middle text-center">{{ question.text }}</td>
                        <td class="align-middle text-center">{{ question.answer }}</td>
                        <td class="align-middle text-center">{{ question.correct }}</td>
                        <td class="align-middle text-center">{{ question.earnings }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            <tfoot>
            <tr>
                <td colspan="3" class="text-right">
                    <b>Your earnings for Part 2 are</b>
                </td>
                <td class="text-center">
                    <b>{{ participant.payoff }}</b>
                </td>
            </tr>
            </tfoot>
    </table>
            </div></div>

    <div class="row justify-content-center">
    {% next_button %}
    </div>

{% endblock %}


