<div class="container border bg-light p-2 mt-2 mb-2">
    {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div>
                    <p class="text-danger"><em>
                        {% for error in field.errors %}{{ error }}<br/> {% endfor %}
                    </em></p>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
